<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.hcnet.mapper.SysDailyMapper">
  <resultMap id="dailyMap" type="cn.hctech2006.hcnet.bean.SysDaily">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="daily_name" jdbcType="VARCHAR" property="dailyName" />
    <result column="daily_image" jdbcType="VARCHAR" property="dailyImage" />
    <result column="daily_readtime" jdbcType="BIGINT" property="dailyReadtime" />
    <result column="daily_ct" jdbcType="DATE" property="dailyCt" />
    <result column="daily_ut" jdbcType="DATE" property="dailyUt" />
    <result column="daily_content" jdbcType="LONGVARCHAR" property="dailyContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_daily
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.hcnet.bean.SysDaily">

    insert into sys_daily (daily_name, daily_image,
      daily_readtime, daily_ct, daily_ut, 
      daily_content,
                           create_time,
                           create_by, last_update_by, last_update_time,
                           del_flag)
    values (#{dailyName,jdbcType=VARCHAR}, #{dailyImage,jdbcType=VARCHAR},
      #{dailyReadtime,jdbcType=BIGINT}, #{dailyCt,jdbcType=DATE}, #{dailyUt,jdbcType=DATE}, 
      #{dailyContent,jdbcType=LONGVARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{createBy,jdbcType=VARCHAR}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP},
            #{delFlag,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.hcnet.bean.SysDaily">
    update sys_daily
    set daily_name = #{dailyName,jdbcType=VARCHAR},
      daily_image = #{dailyImage,jdbcType=VARCHAR},
      daily_readtime = #{dailyReadtime,jdbcType=BIGINT},
      daily_ct = #{dailyCt,jdbcType=DATE},
      daily_ut = #{dailyUt,jdbcType=DATE},
      daily_content = #{dailyContent,jdbcType=LONGVARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
        del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="dailyMap">
    select id, daily_name, daily_image, daily_readtime, daily_ct, daily_ut, daily_content,
           create_time,
           create_by, last_update_by, last_update_time,
           del_flag
    from sys_daily
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="java.lang.Byte" resultMap="dailyMap">
    select id, daily_name, daily_image, daily_readtime, daily_ct, daily_ut, daily_content,
           create_time,
           create_by, last_update_by, last_update_time,
           del_flag
    from sys_daily where del_flag = #{delFlag}
  </select>
  <update id="updateDelFlag" parameterType="cn.hctech2006.hcnet.bean.SysDaily">
    update sys_daily
set del_flag = #{delFlag}
where id = #{id}
  </update>
</mapper>