<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hctech2006.hcnet.mapper.SysDutyMapper">
  <resultMap id="dutyMap" type="cn.hctech2006.hcnet.bean.SysDuty">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="duty_name" jdbcType="VARCHAR" property="dutyName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_duty
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.hcnet.bean.SysDuty">

    insert into sys_duty (duty_name, create_time,
                          create_by, last_update_by, last_update_time,
                          del_flag)
    values (#{dutyName,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},
            #{createBy,jdbcType=VARCHAR}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP},
            #{delFlag,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hctech2006.hcnet.bean.SysDuty">
    update sys_duty
    set duty_name = #{dutyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="dutyMap">
    select id, duty_name,create_time,
           create_by, last_update_by, last_update_time,
           del_flag
    from sys_duty
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="dutyMap">
    select id, duty_name,create_time,
           create_by, last_update_by, last_update_time,
           del_flag
    from sys_duty
  </select>
  <update id="updateDelFlag" parameterType="cn.hctech2006.hcnet.bean.SysDuty">
    update sys_duty
    set
      del_flag = #{delFlag}
    where id = #{id}
  </update>
</mapper>